{% extends 'WTPoolBundle::layout.html.twig' %}

{% block body -%}
    <h1>Question management</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pool_show', { 'id': entity.pool.id }) }}">
            Back to the Pool
        </a>
    </li>
</ul>
<table class="records_list">
        <thead>
            <tr>                
                <th>Text</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
{% for question in entity.pool.questions %}
            <tr>                
                <td>{{ question.text }}</td>
                <td>                    
                    {% if question.type == 2 %}
                        Select
                        <ul>
                            {% for qoption in question.qoptions %}
                                <li>{{qoption.text}}</li>
                            {% endfor %}
                        </ul>
                    {% elseif question.type == 1 %}
                        Text
                    {% else %}
                        Boolean
                    {% endif%}
                </td>
                <td>
                <ul>
                    {% if question.type == 2 %}
                        <li>
                            <a href="{{ path('qoption_new', { 'questionId': question.id }) }}">Manage options</a>
                        </li>
                    {% endif %}                    
                    <li>
                        <a href="{{ path('question_edit', { 'id': question.id }) }}">Edit question text</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
