{% extends 'WTPoolBundle::layout.html.twig' %}

{% block body -%}
    <h1>Pool</h1>

    <table class="record_properties">
        <tbody>            
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Desciprion</th>
                <td>{{ entity.desciprion }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('question_new', { 'poolId': entity.id }) }}">Add/Edit/Remove questions</a>
        </li>
        <li>
            <a href="{{ path('pool') }}">
                Back to the list of Pools
            </a>
        </li>
        <li>
            <a href="{{ path('pool_edit', { 'id': entity.id }) }}">
                Edit pool title and description
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <h2>Question list</h2>

    <table class="records_list">
        <thead>
            <tr>
                <th>Text</th>
                <th>Type</th>
                <th>Answers</th>
            </tr>
        </thead>
        <tbody>
        {% for question in entity.questions %}
            <tr>                
                <td>{{ question.text }}</td>
                <td>                    
                    {% if question.type == 2 %}
                        Select
                        <ul>
                            {% for qoption in question.qoptions %}
                                <li>{{qoption.text}}</li>
                            {% endfor %}
                        </ul>
                    {% elseif question.type == 1 %}
                        Text
                    {% else %}
                        Boolean
                    {% endif%}
                </td>
                <td>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
